{% extends "base.html" %}

{% block content %}

<section class="section">

    <div class="container">

        <div class="section">
            <h1>Contact Us</h1>
            <p>Should you have any questions, comments, or concerns regarding the bookstore's terms of use, privacy
                policy, or any other aspect of our website, please do not hesitate to reach out to our customer
                service team. We value feedback and communication from our customers and aim to promptly address any
                issues that may arise.</p><br/>
            <p>Our knowledgeable and friendly customer service representatives are available 7 days a week from 8am
                to 8pm EST to provide support via email or phone. We will make every effort to get back to you in a
                timely manner and provide helpful information to resolve your inquiry or issue.</p><br/>
            <p>For the quickest response, please email us at <a style="text-decoration: underline;" href="mailto:contact@yourwebsite.com">contact@yourwebsite.com</a> and
                include your full name, order number if applicable, and detailed description of your question or
                concern.</p><br/>
            <p>Additionally, you can speak directly with a customer service agent by calling 1-800-YOURSITE Monday
                through Friday from 9am to 5pm EST. We appreciate you taking the time to contact us and look forward
                to assisting you.</p><br/>
            <p>Effective communication allows us to continuously improve our customer experience. We value each
                customer interaction as an opportunity to build trust and ensure complete satisfaction. Please reach
                out through whichever contact method is most convenient so we can maintain an open dialogue. Thank
                you for being a valued customer.</p>
        </div>
    </div>
</section>



{% endblock %}