
{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Books</title>
    <style>
        table {
            width: 80%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        table, th, td {
            border: 1px solid #dddddd;
        }
        th, td {
            padding: 8px 12px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:hover {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
    <!-- <h1>List of Books</h1> -->
    <!-- <a href="{{ url_for('login') }}" class="btn">Add Books by Seller</a> -->
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>ISDN</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.ISDN }}</td>
                    <td>${{ book.price }}</td>
                    <td>{{ book.description }}</td>
                    <td><button onclick="onAddCart({{book}})" id="addToCart" value="{{book}}">Add To Cart</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

{% endblock %}
