{% extends "base.html" %} {% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>Booken - Get Your New Book Collections</title>
  <meta name="title" content="Booken - Get Your New Book Collections">
  <meta name="description" content="This is a Book eCommerce html template made by codewithsadee">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="/static/favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="/static/css/style.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&family=Work+Sans:wght@400;500;700&display=swap"
    rel="stylesheet">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="/static/images/hero-banner.png">
  <link rel="preload" as="image" href="/static/images/hero-bg.jpg">

</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <main>
    <article>

      <section class="section hero has-bg-image" aria-label="home"
        style="background-image: url('/static/images/hero-bg.jpg')">
        <div class="container">

          <div class="hero-content">

            <h1 class="h1 hero-title has-after">
              Get Your New <br>
              Book Collections
            </h1>

            <p class="hero-text">
              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              in some formr.
            </p>

            <div class="btn-wrapper">

              <a href="#book_section" class="btn">
                <span class="span">Explore More</span>

                <ion-icon name="cart" aria-hidden="true"></ion-icon>
              </a>

              <!-- <button class="play-btn" aria-label="play video">
                <ion-icon name="play-outline" aria-hidden="true"></ion-icon>
              </button> -->

            </div>

          </div>

          <figure class="hero-banner">
            <img src="/static/images/hero-banner.png" width="475" height="600" alt="hero banner" class="w-100">
          </figure>

        </div>
      </section>


      <!-- 
        - #FEATURE
      -->

      <section class="section feature" aria-label="feature">
        <div class="container">

          <div class="grid-list">

            <li>
              <div class="feature-card">

                <div class="card-icon">
                  <img src="/static/images/feature-1.png" width="100" height="100" loading="lazy" alt="feature icon"
                    class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Free Shipping</h3>

                  <p class="card-text">Order over $100</p>
                </div>

              </div>
            </li>

            <li>
              <div class="feature-card">

                <div class="card-icon">
                  <img src="/static/images/feature-2.png" width="100" height="100" loading="lazy" alt="feature icon"
                    class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Secure Payment</h3>

                  <p class="card-text">100% Secure Payment</p>
                </div>

              </div>
            </li>

            <li>
              <div class="feature-card">

                <div class="card-icon">
                  <img src="/static/images/feature-3.png" width="100" height="100" loading="lazy" alt="feature icon"
                    class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Best Price</h3>

                  <p class="card-text">Guaranteed Low Cost</p>
                </div>

              </div>
            </li>

            <li>
              <div class="feature-card">

                <div class="card-icon">
                  <img src="/static/images/feature-4.png" width="100" height="100" loading="lazy" alt="feature icon"
                    class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Easy Return</h3>

                  <p class="card-text">Within 30 Days returns</p>
                </div>

              </div>
            </li>

          </div>

        </div>
      </section>

      <!-- 
        - #FEATURED COLLECTION
      -->

      <section id="book_section" class="section featured" aria-label="featured collection">
        <div class="container">

          <h2 class="h2 section-title">Featured Collections</h2>

          <p class="section-text">
            Contrary to popular belief, Lorem Ipsum is not simply random.
          </p>

          <ul class="grid-list">
            {% for book in books %}
            <li>
              <div class="product-card">

                <!-- <span class="card-badge">New</span> -->

                <div class="card-banner img-holder" style="--width: 384; --height: 480;">
                  <img src="{{book.thumbnail}}" width="384" height="480" loading="lazy" alt="Black Night"
                    class="img-cover">
                </div>



                <div class="card-content">

                  <h3>{{ book.title }} </h3>

                  <td>
                    <button onclick="onAddCart({{book}})" id="addToCart" value="{{book}}">
                      <img class="add-to-cart" src="{{url_for('static', filename='add-to-cart.png')}}" />
                    </button>
                  </td>

                  <td>
                    <a class="edit" href="{{ url_for('edit_book', book_id=book.id) }}">
                      <img class="edit-icon" src="{{ url_for('static', filename='edit-icon.png') }}" />
                    </a>
                  </td>
                  <td>
                    <form action="/delete_book/{{ book.id }}" method="post">
                      <button id="delete">
                        <img class="delete-icon" src="{{url_for('static', filename='delete-icon.png')}}" />
                      </button>
                    </form>
                  </td>

                  <data class="card-price" value="80">${{ book.price }} </data>
                  <button class="action-btn" aria-label="add to cart" title="Add to Cart">
                    <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                  </button>
                  <div style="margin-top: 60px;">
                    <p> <label style="font-weight: bold;">Author: </label>{{ book.author }}</p>
                    <p> <label style="font-weight: bold;">ISDN:</label> {{ book.ISDN }}</p>
                    <br />
                  </div>
                  <p class="card-text">

                    {{ book.description }}
                  </p>





                </div>

              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </section>
    </article>
  </main>
  <script>
    window.addEventListener('DOMContentLoaded', (event) => {
        // Check if URL contains the "query" parameter
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('query')) {
            // If the "query" parameter is present, scroll to the books section
            const booksSection = document.getElementById('book_section');
            booksSection.scrollIntoView({ behavior: 'smooth' });
        }
    });
</script>


</body>

</html>
{% endblock %}