{% extends "base.html" %}

{% block content %}

<section class="section hero has-bg-image">
    <div class="container">
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
        <div class="signup-container">
            <h1>Sign up</h1>

            <form action="{{ url_for('signup') }}" method="post">

                <!-- Username input -->
                <label>Username:</label>
                <input type="text" class="input-field" name="username" required><br>

                <label>Eamil:</label>
                <br> <input type="email" class="input-field" name="email" id="email" required><br>

                <!-- Password input -->
                <label>Password:</label>
                <input type="password" class="input-field" name="password1" id="password1" required><br>


                <!-- Password confirmation input -->
                <label>Re-enter:</label>
                <br> <input type="password" class="input-field" name="password2" id="password2" required><br>

                <!-- Checkbox to toggle password visibility -->
                <div style="margin-bottom: 5% ;">
                    <div style="float: left;">
                        Role
                        <select id="role" name="role" class="input-section" required>
                            <option value="user">User</option>
                            <option value="admin">Admin</option>
                        </select><br>
                    </div>
                    <div style="float: right;">
                        <input type="checkbox" id="show_password"> Show password
                    </div>
                </div>

                <!-- Submit button -->
                <input type="submit" class="btn submit-btn" value="Signup">

            </form>
        </div>

        <script>
            // This js script adds functionality to toggle the visibility of passwords

            // Get the password input elements by their ID attributes
            var passwordInput1 = document.getElementById('password1');
            var passwordInput2 = document.getElementById('password2');

            // Get the checkbox input element by its ID attribute
            var showPasswordCheckbox = document.getElementById('show_password');

            // Add an event listener to the checkbox for the 'click' event
            // This function will be called every time the checkbox is clicked
            showPasswordCheckbox.addEventListener('click', function (e) {
                // Determine the new type for the input fields:
                // If the checkbox is checked, set type to 'text' to show the password
                // If it's unchecked, set type back to 'password' to hide it
                var type = showPasswordCheckbox.checked ? 'text' : 'password';

                // Set the type attribute of the password input fields
                // This changes them from password fields to text fields or vice versa
                passwordInput1.setAttribute('type', type);
                passwordInput2.setAttribute('type', type);
            });
        </script>

    </div>
</section>
{% endblock %}